<h1>List of restaurants</h1>

<p><%= link_to "Create a new restaurant", new_restaurant_path %></p>
<ul><% @restaurants.each do |restaurant|%>
  <li><%= link_to restaurant.name, restaurant_path(restaurant)%> - category: <%= restaurant.category %></li>
<% end %></ul>
